[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = ">=6.0"
dlib = ">=19.3.0"
numpy = "*"
scipy = ">=0.17.0"
face_recognition_models = "*"
Pillow = "*"
face_recognition = "*"
opencv-python = "*"
sklearn = "*"
cmake = "*"

[requires]
python_version = "3.6"
